@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('pacote-d013/pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url('pacote-d013/pacote-d013/imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: absolute;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 471px;
}

section#sociais {
    text-align: right;
}

section#sociais img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.623);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
    transition: transform 0.3s, border 0.2s;
}